$size-xxs: 8px;
$size-xs: 8px;
$size-s: 16px;
$size-m: 24px;
$size-l: 32px;
$size-xl: 40px;


$primary: #2AAB7B;
//$secondary: #8BC91D;
$primary-lighten: #CAFAE8;
$color-gray-1: #e2e2e2;
$color-gray-2: #f0f0f0;
$color-gray-3: #e8e8e8;

$color-border-gray: $color-gray-1;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;